.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.dropdown-menu>li>a:hover,
.carousel-indicators .active,
.option-box .color-option ul li,
.progress-bar.active,
.progress.active .progress-bar,
.contact .btn-primary:hover,
.gear-check, .subscribe button, .two, .four , .subscribe button:hover, #scroll-top{
	background-color: #777;
}

a span,
.cap1 h2,
.about h1 span,
.testimonials h3,
.footer h3,
.copyRight span, .left i,
	.right i {
	color: #777;
}
.cap1 .btn {
	color: #777 !important;
}

.option-box .color-option {
	border: 4px solid #777;
}

.subscribe h1:hover {
	border-top: 2px solid #777;
	border-bottom: 2px solid #777;
}

.contact .btn-primary {
	background: #777;
	border-color: #777;
}
.cap1 .btn {
	background: #ccc !important;}
.btn-danger {
    border-color: #ccc !important;
}
.aboutUs, .faq{
	background: rgb(207, 89, 25);
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(to right, #ccc, #777);
	/*Safari 5.1-6*/
	background: -o-linear-gradient(to right, #ccc, #777);
	/*Opera 11.1-12*/
	background: -moz-linear-gradient(to right, #ccc,#777);
	/*Fx 3.6-15*/
	background: linear-gradient(to right, #ccc, #777);
}